/* medium device */
@media screen and (max-width: 800px) {
  .navbar-main {
    flex-direction: column;
    align-items: center;
  }
  .nav-btn-container {
    margin-top: 20px;
  }
  .fifty-off {
    left: 25%;
    top: 38%;
  }
  .popular-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* smaller device */
@media screen and (max-width: 500px) {
  .nav-hamberger-menu {
    display: block;
  }
  .nav-btn-container {
    display: none;
  }
  .navbar-main {
    flex-direction: row;
  }
  .banner-main {
    flex-direction: column;
  }
  .banner-childs {
    width: 100%;
  }
  .fifty-off {
    left: 35%;
    top: 40%;
  }
  .popular-main{
    grid-template-columns: repeat(1, 1fr);
  }
}
